@model IEnumerable<JokeHomeView>

@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css">
    <link href="~/css/homejokebuton.css" rel="stylesheet" />

    <style>
        .box {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 7px;
            color: black;
        }

        .box:hover {
            color: white;
        }

        .custom-p {
            color: #ff4b2b;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <section class="hero">
        <div class="hero-text">
            <h1>Welcome</h1>
            <h4></h4>
            <p>
                You can relax with some of our jokes.
                Click below to visit a certain category.
            </p>
            <div class="hero-in">
                @foreach (var joke in @Model)
                {
                    <a asp-controller="Joke"
                     asp-action="All"
                     asp-route-currentPage="1"
                     asp-route-category="@joke.Category"

                     class="box">@joke.Category</a>

                }
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>
