@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
	@section Styles{
        <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css">
        <link href="~/css/homejokebuton.css" rel="stylesheet" />
	}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<!--hero section-->
	<section class="hero">
		<div class="hero-text">
			<h1>TBD</h1>
			<h4>TBD</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Aliquam congue sed et leo, dignissim odio justo.
			</p>
			<div class="hero-in">
				<div class="box">
					<h2 class="button">One-liners</h2>
				</div>
				<div class="box">
					<h2>Knock-knock</h2>
				</div>
				<div class="box">
					<h2>Puns</h2>
				</div>
			</div>
		</div>
		<div class="hero-img">
		</div>
	</section>

	<script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>
