@model JokeServiceModel

<div class="joke-box">
    @if (Model.IsEdited)
    {
        <span class="edited-label">(edited)</span>
    }
    <h2>@Model.Title</h2>
    <p class="joke-startup">@Model.Setup</p>
    <p class="joke-punchline">@Model.Punchline</p>
    <a asp-area="" asp-controller="Joke" asp-action="Details" asp-route-title="@Model.Title" asp-route-page="1"
       class="details-button">Details</a>
</div>