<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jokify</title>
    @RenderSection("styles", false)
    <link rel="stylesheet" href="~/css/site.css" />
    <!--boxicons link-->
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap"
          rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo"><i class='bx bx-stopwatch'></i>Honor</a>
        <ul class="navlist">
            <li><a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">TBD</a></li>
            <li><a href="#">TBD</a></li>
            <li><a href="#">TBD</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
        <div class="h-main">
            <a href="#" class="h-btn">Joke Now</a>
            <div class="bx bx-menu" id="menu-icon"></div>
            <div class="bx bx-moon" id="darkmode"></div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Jokify - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--scripts-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/script.js"></script>
   @* @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
