@using Jokify.Infrastructure.Data.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navlist">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
    </li>
}
else
{        
    <li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
    <li><a asp-area="" asp-controller="User" asp-action="Register">Register</a></li>
}
</ul>
