@model IEnumerable<JokeViewModel>

@{
    ViewBag.Title = "All Jokes";
}
@section Styles{
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
                        table {
                            width: 50%;
                            border-collapse: collapse;
                            margin-bottom: 20px;
                            position: relative;
                            top: 280px;
                            left: 100px;
                            
                        }

                        th, td {
                            padding: 20px;
                            text-align: left;
                            border-bottom: 1px solid #ddd;
                            border-radius: 50px;
                        }

                        th {
                            background-color: #f2f2f2;
                            font-weight: bold;
                        }

                        tr:hover {
                            background-color: #f5f5f5;
                        }
    </style>

}

<h2 class="text-center">@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Setup</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td>@entity.Title</td>
                <td>@entity.Setup</td>
                <!-- Add more columns as needed -->
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}