@model IEnumerable<JokeViewModel>

@{
    ViewBag.Title = "All Jokes";
}
@section Styles{
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .joke-box {
            width: 300px;
            background-color: lightgray;
            padding: 20px;
            border: 2px solid gray;
        }

        .joke-box h2 {
            margin-top: 0;
            text-align: center;
        }

        .joke-startup {
            font-style: italic;
        }
    </style>

}

<h2 class="text-center">@ViewBag.Title</h2>
<body>
    <div class="hero-in">
        @foreach (var entity in Model)
        {
        <div class="joke-box">
            <h2>@entity.Title</h2>
            <p class="joke-startup">@entity.Setup</p>
        </div>
        }
    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}