@model IEnumerable<JokeServiceModel>

@{
    ViewBag.Title = "My Jokes";
}
<link href="~/css/all-jokes.css" rel="stylesheet" />

<style>

</style>


@if (Model.Any())
{
    <h1 class="text-center">@ViewBag.Title</h1>
    <div class="jokes-container">
        @foreach (var house in Model)
        {
            <partial name="_JokePartial" model="@house" />
        }
    </div>
}
else
{
    <h1 class="text-center">You have not created any jokes yet</h1>
}
