.total-jokes-container {
    text-align: center;
    margin-top: 50px;
}

.jokes-count {
    background-color: #ff4b2b;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
    left: 400px;
    text-align: center;
}

.hero-text h1 {
    position: relative;
    left: 400px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.head {
    position: relative;
    bottom: 100px;
}
