.centered-lowered-div {
    font-size: 50px;
    width: 300px;
    text-align: center;
    position: relative;
    left: 800px;
    top: 150px;
    color: white;
}
.text-center {
    position: relative;
    top: 200px;
    left: 650px;
    color: white;
    width: 600px;
    text-align: center;
}
.joke-box {
    position: relative;
    height: auto;
    top: 250px;
    left: 350px;
    width: 300px;
    background-color: lightgray;
    padding: 20px;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: height 1.3s ease;
}

    .joke-box:hover {
        height: auto;
    }

        .joke-box:hover .joke-punchline {
            visibility: visible;
            opacity: 1;
            position: relative;
            bottom: 20px;
        }

    .joke-box h2 {
        position: relative;
        bottom: 30px;
        margin-top: 10px;
        text-align: center;
    }



.details-button {
    position: absolute;
    bottom: 10px;
    right: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
    color: black;
}

    .details-button:hover {
        color: #ff4b2b;
    }

.joke-box:hover .details-button {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.joke-startup {
    font-style: italic;
    text-align: left;
    position: relative;
    bottom: 20px;
}

.joke-punchline {
    visibility: hidden;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
    bottom: 15px;
}



.jokes-container {
    position: relative;
    right: 200px;
    left: 10px;
    bottom: 50px;
    top: 40px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    grid-row-gap: 50px;
}

.button-left {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ff4b2b;
    border: none;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

    .button-left:hover {
        background-color: black;
        border: 2px solid white;
        width: 55px;
        height: 55px;
        transition: 0.5s;
    }

    .button-left:before {
        content: "\2190"; /* Unicode code for left arrow */
        font-size: 34px;
        line-height: 50px;
        width: 55px;
        height: 55px;
        transition: 1s;
        color: white;
    }

.button-right {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ff4b2b;
    border: none;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

    .button-right:before {
        content: "\2192"; /* Unicode code for right arrow */
        font-size: 34px;
        line-height: 50px;
        width: 55px;
        height: 55px;
        transition: 1s;
        color: white;
    }


    .button-right:hover {
        background-color: black;
        border: 2px solid white;
        width: 55px;
        height: 55px;
        transition: 0.5s;
        color: #ff4b2b;
    }

.right {
    position: fixed;
    top: 170px;
    left: 1150px;
}

.left {
    position: fixed;
    top: 170px;
    left: 700px;
}


.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: fixed;
    bottom: 720px;
    left: 360px;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    width: 40px;
    height: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

    .search-button:hover {
        background-color: gray;
    }

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
}

.edited-label {
    color: #999;
    font-size: 12px;
    position: relative;
    left: 220px;
    bottom: 20px;
}

.dropdown-content {
    position: fixed;
    bottom: 760px;
    right: 620px;
}

.sortDropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 8px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

    .sortDropdown:focus {
        outline: none;
        border-color: dodgerblue;
        box-shadow: 0 0 3px dodgerblue;
    }

    .sortDropdown::after {
        content: '\25BE';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .sortDropdown option {
        background-color: white;
        color: black;
    }

        .sortDropdown option:hover {
            background-color: #f2f2f2;
        }

    .sortDropdown::-ms-expand {
        display: none;
    }

.dropdown-content-categories {
    position: fixed;
    bottom: 760px;
    right: 1800px;
}

.sortDropdown-categories {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.sortDropdown-categoriesfocus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 3px dodgerblue;
}

.sortDropdown-categories::after {
    content: '\25BE';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.sortDropdown-categories option {
    background-color: white;
    color: black;
}

    .sortDropdown-categories option:hover {
        background-color: #f2f2f2;
       
    }

.sortDropdown-categories::-ms-expand {
    display: none;
}