body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 1000px;
    height: 50px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(25, 0, 255, 0.1);
    border: 0.5px solid rgba(25, 0, 255, 0.01);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
}

th {
    text-align: center;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

td:hover {
    position: relative;
}

    td:hover:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
    }

.delete-user-button {
    background-color: #007bff;
    color: #fff;
    width: 70px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 35px;
    position: relative;
    right: 55px;
    top: 20px;
    font-size: 18px;
}

    .delete-user-button:hover {
        background-color: #ff4b2b;
        transform: scale(1.1);
    }

.forget-user-button {
    background-color: #007bff;
    color: #fff;
    width: 70px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 35px;
    position: relative;
    left: 35px;
    font-size: 18px;
    bottom: 15px;
}

    .forget-user-button:hover {
        background-color: #ff4b2b;
        transform: scale(1.1);
    }

.text-center {
    text-align: center;
}

.arrow-box-disabled {
    display: none;
}

.arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    background-color: #ff4b2b;
    padding: 10px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    position: relative;
    top: 200px;
    right: 600px;
}

.arrow {
    color: white;
    position: absolute;
    width: 35px;
    height: 30px;
    transition: transform 0.3s ease;
    font-weight: 900;
    font-size: 35px;
    line-height: 0.5;
}

    .arrow::before,
    .arrow::after {
        position: absolute;
        width: 10px;
        height: 2px;
    }

.button-left::before,
.button-left::after,
.button-right::before,
.button-right::after {
    background-color: #fff;
}

.button-left::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.button-left::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-right::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.button-right::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.arrow-box:hover {
    transform: scale(1.1);
}

.arrow:hover {
    transform: scale(1.1);
}

.right {
    position: absolute;
    top: 25px;
    left: 750px;
}

.left {
    position: absolute;
    top: 25px;
    left: 380px;
}

h2 {
    color: white;
}
