.centered-lowered-div {
    font-size: 50px;
    width: 300px;
    text-align: center;
    position: relative;
    left: 800px;
    top: 150px;
    color: white;
}

.joke-box {
    position: relative;
    height: auto;
    top: 250px;
    left: 350px;
    width: 300px;
    background-color: lightgray;
    padding: 20px;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: height 1.3s ease;
}

    .joke-box:hover {
        height: auto;
    }

        .joke-box:hover .joke-punchline {
            visibility: visible;
            opacity: 1;
        }

    .joke-box h2 {
        position: relative;
        bottom: 30px;
        margin-top: 10px;
        text-align: center;
    }

.joke-startup {
    font-style: italic;
    text-align: left;
}

.joke-punchline {
    visibility: hidden;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}



.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 150px;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-button {
    width: 40px;
    height: 100%;
    background-color: lightgray;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

    .search-button:hover {
        background-color: gray;
    }

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
}