<html>
<head>
    <title>Error</title>
    <link href="~/css/error.css" rel="stylesheet" />
</head>
<body>
    <div class="error-container">
        <div class="error-heading">Oops! An error occurred.</div>
        <div class="error-message">
            We apologize for the inconvenience. Please try again later.
        </div>
    </div>
</body>
</html>