﻿@{
    ViewData["Title"] = "Error";
}
<style>
    body{

        background-image: url('@Url.Content("~/images/sheep.png")');
    }
</style>

<title>Error</title>
<link href="~/css/error404.css" rel="stylesheet" />
<body>
    <div class="error-container">
        <h1>Error 404</h1>
        <p>The page was not found, but we found this sheep</p>
    </div>
    <div class="redirect">
        <p>You can keep looking at the sheep or </p>
        <p>Go back to the home page</p>
        <a class="home-button" href="/">Home</a>
    </div>
</body>
