<html>
<head>
    <title>Unauthorized</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-image: url('@Url.Content("~/images/dogo.png")');
        }
        

        .error-container {
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            max-width: 400px;
            background-color: #f9f9f9;
        }

        .error-heading {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .error-message {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-heading">Unauthorized Access</div>
        <div class="error-message">
            You don't have permission to access this page. But here is a cute dog.
        </div>
    </div>
</body>
</html>




