<html>
<head>
    <title>Unauthorized</title>
    <link href="~/css/error401.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('@Url.Content("~/images/dogo.png")');
        }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-heading">Unauthorized Access</div>
        <div class="error-message">
            You don't have permission to access this page. But here is a cute dog.
        </div>
    </div>
</body>
</html>




